[submodule "plankc/plank-diff-tests/lib/forge-std"]
	path = plankc/plank-diff-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "plankc/sir/sir-solidity-diff-tests/lib/forge-std"]
	path = plankc/sir/sir-solidity-diff-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "plankc/plank-diff-tests/lib/plank-foundry-deployer"]
	path = plankc/plank-diff-tests/lib/plank-foundry-deployer
	url = https://github.com/plankevm/plank-foundry-deployer
[submodule "plankc/plank-diff-tests/lib/solady"]
	path = plankc/plank-diff-tests/lib/solady
	url = https://github.com/vectorized/solady
[submodule "plankc/sir/sir-solidity-diff-tests/lib/solady"]
	path = plankc/sir/sir-solidity-diff-tests/lib/solady
	url = https://github.com/vectorized/solady
